{>"layouts/main"/}

{<title}Feeds!{/title}

{<content}
    <ul>
        {#items}
            <li>
            <!-- {published}: -->
            <!-- http://www.google.com/s2/favicons?domain={resource_host} -->
            <a href="{resource.meta.link}"><img width="16" height="16" src="http://g.etfv.co/{resource_url|u}"></a> <a href="{link}"><img style="width:128px; height:128px" width="128" height="128" src="http://127.0.0.1:8765/thumb?url={link|u}" />{title}</a>
            </li>
        {/items}
    </ul>
</div>
{/content}
