{>"layouts/main"/}

{<title}Feeds!{/title}

{<content}
<ul class="feeds">
    {#feeds}
    <li class="feed">
        <h2>
            <img class="favicon" width="16" height="16" 
                src="http://g.etfv.co/{feed.meta.link|u}">
            <a href="{feed.meta.link}" title="{feed_updated}">{feed.meta.title}</a>
        </h2>
        <ul class="items">
            {#items}
            <li class="item">
                <a href="{link}">
                    <img class="lazy" width="128" height="128" 
                        src="http://g.etfv.co/{feed.meta.link|u}"
                        data-original="/thumb?url={link|u}" />
                    <span>{title}</span>
                </a>
            </li>
            {/items}
        </ul>
    </li>
    {/feeds}
</ul>
{/content}
