.hidden { display: none; }

.polls li { }
.polls li .status { min-width: 3em; text-align: center; }
.polls li .time { min-width: 6em; text-align: center; }
.polls li .time:after { content: " ms";}
.polls li .parsed { min-width: 3em; text-align: center; }
